# Langfuse API credentials
LANGFUSE_PUBLIC_KEY=pk-lf-b957e40e-94f5-4654-a74d-97d190b18e12
LANGFUSE_SECRET_KEY=sk-lf-c4956a16-4229-4146-af77-b5311b7eb253
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com

# Sync configuration
SYNC_INTERVAL_SECONDS=300
